:root {
  --dark_blue: #1E444D;
  --mid_blue: #3C626E;
  --mid_blue_transparent: rgba(60, 98, 110, 0.85);
  --light_blue: #7FAAB4;
  --grey: #A7A7A7;
  --red: #ba1a1a;
  --green: #008000;
  --white: #fff;
  --black: #000;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size: 4rem;
  margin: 0;
}

a {
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
