:root {
    --dark_blue: #1e444d;
    --light_blue: #4d6871;
    --light_orange: #f5b963;
    --dark_orange: #cd7f35;
    --grey: #eae2cd;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.3rem auto;
}

th, td {
    border: 0.063rem solid #ccc;
    padding: 0.313rem;
    text-align: center;
}

th {
    background-color: var(--dark_blue);
    color: #fff;
}

td {
    height: 3.75rem;
}

td:hover {
    background-color: #f0f0f0;
}

.hour {
    font-weight: bold;
}
.add-button {
    background-color: var(--light_orange);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform .5s ease;
}

#openPopupButton {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
}

#changeRoom {
    position: fixed;
    bottom: 140px;
    right: 1.25rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    background-color: var(--light_blue);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--dark_blue);
    width: 40%;
  }

  .close {
    color: var(--dark_orange);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover {
    color: var(--light_orange);
    cursor: pointer;
  }

  h2 {
    color: var(--dark_orange);
  }

  label {
    display: block;
    margin-top: 10px;
    color: #fff;
  }

  select {
    width: 48%; /* Adjusted width for the dropdowns */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: inline-block; /* Display dropdowns inline */
  }

  hr {
    border: 1px solid var(--dark_blue);
    margin-top: 15px;
    margin-bottom: 15px;
  }

button {
    background-color: var(--dark_orange);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--light_orange);
}
#rooms {
    margin-top: 0;
    padding: 5% 0 3% 0;
    width: 20rem;
    height: 100vh;
    background-color: var(--dark_blue);
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    transition: transform .5s ease; /* Added transition property for smooth animation */
    display: none;
    grid-template-columns: auto;
    overflow-y: scroll
}

#rooms a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 10%;
}

#rooms > a {
    transition: .8s;
}

#rooms > a:hover {
    background-color: var(--light_blue);
    transition: .8s;
}