body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.3rem auto;
}

th, td {
    border: 0.063rem solid #ccc;
    padding: 0.313rem;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    height: 3.75rem;
}

td:hover {
    background-color: #f0f0f0;
}

.hour {
    font-weight: bold;
}
.add-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform .5s ease;
}

#openPopupButton {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
}

#changeRoom {
    position: fixed;
    bottom: 140px;
    right: 1.25rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
    text-align: center;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.313rem;
    width: 80%;
}

#rooms {
    margin-top: 0;
    padding: 5% 0 3% 0;
    width: 20rem;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    transition: transform .5s ease; /* Added transition property for smooth animation */
    display: none;
    grid-template-columns: auto;
    overflow-y: scroll
}

#rooms a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 10%;
}

#rooms > a {
    transition: .8s;
}

#rooms > a:hover {
    background-color: #6a6d6e;
    transition: .8s;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}