<div id="detail-content">
  <a href=""><div id="detail-back"><i class="fa-solid fa-arrow-left fa-2xl"></i></div></a>
  <br>
  <div id="detail-info">
    <h1>{{ equipment?.name }}</h1>
    <img src="{{equipment?.img}}" width="65%" style="padding-top: 7%;">


  </div>

  <div id="calendar">
    <h1>Reservieren</h1>
    <div id="navigation">
      <button id="prev-month" (click)="changeMonth(-1)">
        <i class="fa-solid fa-caret-left"></i>
      </button>
      <div id="month-year">{{ monthYear }}</div>
      <button id="next-month" (click)="changeMonth(1)">
        <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
    <div id="days-container" class="days-container">
      <div class="day"
        *ngFor="let day of days"
        [class.disabled]="day.disabled"
        [class.weekend]="day.isWeekend"
        [class.selected]="selectedDays.includes(day.date)"
        [class.highlighted]="isInRange(day.date)"
        (click)="!day.disabled && selectDay(day.date)"
      >
        {{ day.label }}
      </div>
    </div>
    <p style="width: 100%; font-size: 1.4rem;">
      Videokamera ist im ausgewählten Zeitraum:
      <span style="color: green; font-size: 1.5em;">Verfügbar</span>
    </p>
    <div id="detail-">
      <input id="countAmount" type="number" min="0" max="100"/>
      <button id="reserve" (click)="addToCart()">Zum Warenkorb hinzufügen</button>
    </div>
  </div>


</div>

<h1 id="detail-h1">Wurde oft zusammen entliehen:</h1>

<app-card-row [rowCount]="1"></app-card-row>
