<div class="tableBox" style="display: flex">
  <div class="tableFilter" (click)="tableRentals = rentals">
    <div class="filterCircle filterCircleBlue">
      <i class="fa-solid fa-list"></i>
    </div>
    <div>
      <h3 class="filterText">Alle Anfragen</h3>
      <p class="filterCount">{{this.rentals.length}}</p>
    </div>
  </div>
  <div class="tableFilter" (click)="filterOpenReturns()">
    <div class="filterCircle filterCircleGreen">
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div>
      <h3 class="filterText">Offene R&uuml;ckgaben</h3>
      <p class="filterCount">{{this.getOpenReturns().length}}</p>
    </div>
  </div>
  <div class="tableFilter" (click)="filterExpiredRentals()">
    <div class="filterCircle filterCircleRed">
      <i class="fa-regular fa-calendar-xmark"></i>
    </div>
    <div>
      <h3 class="filterText">Versp&auml;tete R&uuml;ckgaben</h3>
      <p class="filterCount">{{this.getExpiredRentals().length}}</p>
    </div>
  </div>
</div>
<div class="tableBox">
  <h1>Alle Verleihungen</h1>

  <table id="rentalTable">
    <tr>
      <th (click)="sortRentals('name')">Schüler Name</th>
      <th (click)="sortRentals('grade')">Klasse</th>
      <th (click)="sortRentals('email')">Email</th>
      <th (click)="sortRentals('date')">Datum</th>
      <th>Status</th>
    </tr>
    <ng-container *ngFor="let rental of tableRentals; let i = index">
      <tr (click)="toggleRow(i)" class="tableRow" [ngClass]="{'expired-rental': isRentalExpired(tableRentals[i])}">
      <td>{{rental.person.surname}} {{rental.person.firstname}}</td>
        <td>{{rental.person.grade}}</td>
        <td>{{rental.person.email}}</td>
        <td>{{rental.leaseDate | date: 'dd.MM.yy'}} - {{rental.returnDate | date: 'dd.MM.yy'}}</td>
        <td>
          <button class="statusButton rentButton" *ngIf="!rental.isRented">verleih</button>
          <button class="statusButton" id="removeButton" *ngIf="!rental.isRented">l&ouml;schen</button>

          <!-- vllt mit id="retourButton"-->
          <button class="statusButton rentButton" *ngIf="rental.isRented && !rental.isReturned">retour</button>
        </td>
      </tr>
      <tr *ngIf="expandedRow === i && equipments.length > 0">
        <td colspan="5">
          <div class="expanded-content">
            <table>

              <tr *ngFor="let equipment of equipments" class="tableRow">
                <td><img src="{{equipment.link}}" width="100vw"></td>
                <td>1x</td>
                <td>{{ equipment.name }}</td>
                <td>{{getTime(i)}}</td>
                <td></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>

  </table>
</div>
