<h1 id="dashboard-header">Dashboard</h1>
<div id="dashboard-box">
  <div id="dashboard-request-box">
    <p id="dashboard-request-header">Anfrage</p>
    <div id="dashboard-request">
      <app-reservation-exchange [hasBeenRented]="false"></app-reservation-exchange>
    </div>
  </div>
  <div id="dashboard-return-box">
    <p id="dashboard-return-header">R&uuml;ckgabe</p>
    <div id="dashboard-return">
      <app-reservation-exchange [hasBeenRented]="true"></app-reservation-exchange>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <!-- Modal Content -->
  <div class="modal-content">
    <span class="close-btn"></span>
    <div id="dashboard-equipment"></div>
  </div>
</div>
