<main style="height: 60vh">
  <p id="dashboard-header">Dashboard</p>
  <div id="dashboard-box">
    <div id="dashboard-request-box">
      <p id="dashboard-request-header">Anfrage</p>
      <div id="dashboard-request"></div>
    </div>
    <div id="dashboard-return-box">
      <p id="dashboard-return-header">R&uuml;ckgabe</p>
      <div id="dashboard-return"></div>
    </div>
  </div>

  <div id="myModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <div id="dashboard-equipment"></div>
    </div>
  </div>
</main>
