nav {
  color: #fff;
  background-color: var(--mid_blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  font-size: 1.2rem;
}


#info {
  background-color: var(--light_blue);
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#info > div > p {
  font-size: 2.5rem;
  width: 40vw;
  margin: 0;
}

#info > img {
  width: 27.5vw;
  height: 37.5vh;
}

nav > p {
  width: 15vw;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  nav {
    height: auto;

    font-size: 1rem;
  }

  nav > p {
    width: 25%;
    font-size: 0.75rem;
  }

  #info {
    height: auto;
    flex-direction: column;
    text-align: left;
    padding: 5%;
  }

  #info > div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #info > div > p {
    font-size: 1.3rem;
    width: 100%;
  }

  #info > img {
    display: none;
  }
}
