<div class="app-navigation">
  <a id="navigation-profile" href="./profile.html">
    <div>
      <p>MM</p>
    </div>
    <p  class="navigation">Max Mustermann</p>
  </a>
  <div id="navigation-links">
    <div id="searchbar">
      <select>
        <option>Alle</option>
        <option>Kamera</option>
        <option>Mikrofon</option>
        <option>Zubeh&ouml;r</option>
        <option>Raum</option>
      </select>
      <p>Suche nach Equipment bzw. R&auml;ume</p>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <a href="#" class="navigation">Shop</a>
    <a routerLink="dashboard" class="navigation">Dashboard</a>
    <a routerLink="cart" class="navigation">Warenkorb <i class="fa-solid fa-cart-shopping"></i></a>
  </div>


  <div id="mobile-dropdown">
    <button id="menu-toggle">☰</button>
    <div id="dropdown-menu">

      <a href="./index.html" class="navigation">Shop</a>
      <a href="./dashboard.html" class="navigation">Dashboard</a>
      <a href="./auswahl.html" class="navigation">Warenkorb <i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
  <div id="search-handy">
    <div id="searchbar-handy">
      <select>
        <option>Alle</option>
        <option>Kamera</option>
        <option>Mikrofon</option>
        <option>Zubeh&ouml;r</option>
        <option>Raum</option>
      </select>
      <p>Suche nach Equipment bzw. R&auml;ume</p>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

</div>
