#calendar {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    
}

#month-year {
    font-size: 24px;
    margin-bottom: 10px;
}

#navigation {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 0 5px;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.day.disabled {
    background-color: #f0f0f0;
}

.day.weekend {
    background-color: #add8e6;
}

.day.selected {
    background-color: #1E444D;
    color: #fff;
}

#prev-month {
    background-color: rgb(255, 255, 255, 1); /* Light gray background */
    border: 1px solid #fff;   /* Gray border */
    border-radius: 5px;       /* Rounded corners */
    width: 40px;              /* Set width */
    height: 40px;             /* Set height */
    display: flex;            /* Center the content */
    align-items: center;
    justify-content: center;
    cursor: pointer;          /* Pointer cursor */
    padding: 0;               /* Remove padding */
  }

  #next-month {
    background-color: rgb(255, 255, 255, 1); /* Light gray background */
    border: 1px solid #fff;   /* Gray border */
    border-radius: 5px;       /* Rounded corners */
    width: 40px;              /* Set width */
    height: 40px;             /* Set height */
    display: flex;            /* Center the content */
    align-items: center;
    justify-content: center;
    cursor: pointer;          /* Pointer cursor */
    padding: 0;               /* Remove padding */
  }



.day.highlighted {
    background-color: #7FAAB4;
    color: #000;
    
    
}

#detail-content {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #000;
    height: 70vh;
    align-content: center;
}