:root {
    --dark_blue: #1E444D;
    --light_blue: #7FAAB4;
    --grey: #A7A7A7;
    --red: #FF0000;
    --white: #fff;
    --black: #000;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}



navigation {
    color: #fff;
    background-color: var(--dark_blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    display: flex;
}

navigation > :first-child {
    margin-left: 2vw;
}

navigation > :last-child {
    margin-right: 7vw;
}

navigation, a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#navigation-profile {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation-profile > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: 3vw;
    height: 3vw;
    border-radius: 10rem;
    color: var(--black)
}

#searchbar {
    background-color: var(--white);
    width:35vw;
    height: 5vh;
    border-radius: 10rem;
    display: flex;
    align-items: center;
}

#searchbar > select {
    height: 5vh;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border: 0;
    padding-left: 1vw;
}

#searchbar > p {
    font-size: small;
    color: var(--grey);
    margin-left: 1vw;
}

#info {
    background-color: var(--light_blue);
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#info > p {
    font-size: 3rem;
    width: 30vw;
}

#info > img {
    width: 40vw;
    height: 60vh;
}

.product-row {
    margin-top: 7.5vh;
    display: flex;
    justify-content: space-evenly;   
}

.product {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--light_blue);
    width: 15vw;
    height: 35vh;
    text-align: center;
    align-items: center;
    border-radius: 0.2rem;
    color: var(--black);
}
.product > div {
    background-color: var(--white);
    width: 12.5vw;
    height: 27.5vh;
    margin-bottom: 3vh;
}

.fa-magnifying-glass {
    margin-left: 15vw;
    color: var(--black);
}
.fa-basket-shopping {
    margin-left: 1vw;
}




#auswahl {
    display: flex;
}

#auswahl-equipment {
    width: 70vw;
    text-align: center;
}

#auswahl-equipment > p {
    font-size: 3rem;
}

#auswahl-equipment > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: auto;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#auswahl-room {
    width: 30vw;
    height: 92vh;
    background-color: var(--light_blue);
}

#auswahl-room > p {
    font-size: x-large;
    text-align: center;
}

#room {
    background-color: var(--white);
    width: 20vw;
    margin: auto;
    border-radius: 0.5rem;
    padding: 2vw;
}


#profile {
    text-align: center;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.profile-header {
    font-size: 3vw;
    margin-bottom: 0;
    color: var(--dark_blue);
}

#profile-credetials {
    width: 30vw;
    height: 65vh;
    border-radius: 3rem;
    border: 6px var(--light_blue) solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#profile-credentials-picture {
    width: 15vw;
    height: 30vh;
    background-color: var(--light_blue);
    border-radius: 10rem;
}

#profile-credentials-picture > i {
    margin-top: 25%;
    font-size: 6vw;
}

.profile-credentials-div {
    height: 5vh;
    width: 28vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    text-decoration: underline;
}

#profile-credentials-button {
    background-color: var(--dark_blue);
    color: var(--white);
    width: 8vw;
    height: 4vh;
    border-radius: 2rem;
    font-size: 1rem;
}

#profile-equipment {
    width: 50vw;
    height: 65vh;
    border-radius: 3rem;
    border: 6px var(--light_blue) solid;
}

#profile-equipment > div:first-child  {
    margin-top: 5vh;
}

#profile-equipment > div {
    margin-top: 2vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
}

#detail-back {
    position: fixed;
    top: 7.5rem;
    left: 3rem;
    font-size: 1.5rem;
    color: var(--black);
}
 #dashboard-header {
    color: var(--dark_blue);
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 4vh;
}

#dashboard-box {
    display: flex;
    justify-content: space-around;
}

#dashboard-request-box, #dashboard-return-box {
    width: 30vw;
    text-align: center;
}

#dashboard-request-header, #dashboard-return-header {
    color: var(--dark_blue);
    text-decoration: underline;
    font-size: 3.5rem;
    font-weight: bold;
}

.dashboard-exchange {
    background-color: var(--light_blue);
    width: 20vw;
    height: 22vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

.dashboard-exchange-text {
    font-size: 1.5rem;
    margin-top: 0;
}

.fa-circle-info {
    color: var(--black);
    font-size: 2rem;
    margin-top: 1vh;
    margin-left: 17vw;
}

.dashboard-exchange-status {
    display: flex; 
    justify-content: space-evenly; 
    font-size: 2rem;
}
