<main>
  <div id="auswahl">
    <div id="auswahl-equipment">
      <h1>Auswahl</h1>
      <app-selected-items [rentalEquipment]="rental"></app-selected-items>
    </div>

    <div id="auswahl-room">
      <h2 style="text-align: center;">Wollen sie noch einen Raum reservieren?</h2>
      <div id="roomSection">
        <div id="room">
          <h3>Fotostudio</h3>
          <div style="display: flex; align-items: center; justify-content: space-around;">
            <i class="fa-solid fa-calendar-days fa-2xl"></i>
            <p>xx.xx.xxxx - von 10:00 bis 13:35</p>
          </div>
        </div>
        <hr>
      </div>
      <button (click)="addReservation()" id="submitRental">Reservieren</button>
    </div>
  </div>
</main>
