<main>
  <div id="auswahl">
    <div id="auswahl-equipment">
      <h1>Auswahl</h1>
      <app-selected-items [rentalEquipment]="rental"></app-selected-items>
    </div>

    <div id="auswahl-room">
      <h2 style="text-align: center;">Wollen sie noch einen Raum reservieren?</h2>
      <div id="roomSection">
        <div id="room" *ngFor="let reservation of reservations">
          <h3>{{reservationService.getRoomById(reservation.roomId)}}</h3>
          <div style="display: flex; align-items: center; justify-content: space-around;">
            <i class="fa-solid fa-calendar-days fa-2xl"></i>
            <p>Am {{ reservation.reservationDate | date:'dd.MM.yyyy' }},
              von {{ reservation.startTime | date:'HH:mm'}}
              bis {{ reservation.endTime | date:'HH:mm' }}</p>
          </div>
        </div>
        <hr>
      </div>
      <button (click)="addReservation()" id="submitRental">Reservieren</button>
    </div>
  </div>
</main>
