#detail-set-amount {
  display: flex;
  width: 9rem;
  justify-content: space-between;
  font-size: large;
  align-items: center;
}

.amount-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 1rem;
  width: 2.75rem;
  height: 2.75rem;
}

#plus-button {
  background-color: forestgreen;
}

#minus-button {
  background-color: darkred;
}

.amount-button:disabled {
  opacity: 0.5;
}
