#room {
  background-image: url("../../assets/images/fotostudio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23vw;
  margin: auto auto 10% auto;
  border-radius: 0.5rem;
  height: 20vh;
}
#room > div > h2 {
  padding-top: 3%;
}

#roomText {
  height: 10vh;
  background-color: var(--white);
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

}
#roomText > p,h2 {
  padding-left: 5%;
}

#placeholder {
  height: 10vh;
  width: 100%;
}
