#profile {
  text-align: center;
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

.profile-header {
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--dark_blue);
}

#profile-credetials {
  width: 30vw;
  height: 55vh;
  border-right: 1px #000 solid;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#profile-credentials-picture {
  width: 15vw;
  height: 15vw;
  background-color: var(--light_blue);
  border-radius: 10rem;
}

#profile-credentials-picture > i {
  margin-top: 25%;
  font-size: 6vw;
}

.profile-credentials-div {
  height: 5vh;
  width: 28vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  text-decoration: underline;
}

#profile-credentials-button {
  background-color: var(--dark_blue);
  color: var(--white);
  width: 8vw;
  height: 4vh;
  border-radius: 2rem;
  font-size: 1rem;
}

#profile-equipment {
  width: 50vw;
  height: 65vh;
  border-radius: 3rem;

}

#profile-equipment > div:first-child {
  margin-top: 5vh;
}

#profile-equipment > div {
  margin-top: 2vh;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  #profile {
    margin-top: 2vh;
  }


  .profile-header {
    font-size: 3rem;
  }

  #profile-credetials {
    width: 90vw;
    height: auto;
    border: none;
  }

  #profile-credentials-picture {
    width: 20vw;
    height: 20vw;
  }

  #profile-credentials-picture > i {
    margin-top: 30%;
  }

  .profile-credentials-div {
    width: 90vw;
    font-size: 1rem;
  }

  #profile-credentials-button {
    width: 30vw;
    height: 5vh;
    font-size: 1rem;
    margin: 5% 0 15% 0;
  }

  #profile-equipment {
    width: 90vw;
    height: auto;
  }

  #profile-equipment > div {
    width: 90vw;
  }

  #profile-equipment > div:first-child {
    margin-top: 2vh;
  }
}
