<main>
  <div id="profile">
    <div id="profile-credetials-box">
      <p class="profile-header">Profil</p>

      <div id="profile-credetials">
        <div id="profile-credentials-picture"><i class="fa-regular fa-user"></i></div>

        <div class="profile-credentials-div"><p>Max Mustermann</p><p>+430123456789</p></div>
        <div class="profile-credentials-div"><p>max.musterm&#64;gmail.com</p><p>5XHTIM</p></div>
        <button id="profile-credentials-button">&Auml;ndern</button>
      </div>
    </div>

    <div id="profile-equipment-box">
      <p class="profile-header">Equipment</p>
      <div id="profile-equipment"></div>
    </div>
  </div>
</main>
