<div class="app-footer">
  <div>
    <img src="./assets/images/Logo-OmniaL-rund.png" style="width: 20%">
  </div>

  <div style="padding: 0;">
    <div style="width: 80%;">
      <h4>Bei Fragen wenden sie sich an:</h4>
      <div id="footer-ask">
        <span style="font-weight: bold">Audio: </span><a href="mailto:e.baar@htl-leonding.ac.at">e.baar&#64;htl-leonding.ac.at</a>
        <span style="font-weight: bold">Videoequipment: </span> <a href="mailto:m.riepler@htl-leonding.ac.at">m.riepler&#64;htl-leonding.ac.at</a>
        <span style="font-weight: bold">Fotografie: </span><a href="mailto:p.engleitner@htl-leonding.ac.at">p.engleitner&#64;htl-leonding.ac.at</a>
      </div>
      <br>
    </div>
  </div>
</div>
