<div class="dashboard-exchange" *ngFor="let rental of rentals">
  <a id="openModalBtn" (click)="openModal(rental)"><i class="fa-solid fa-circle-info"></i></a>
  <p class="dashboard-exchange-text">{{ rental.person.surname }} {{ rental.person.firstname }}<p>
  <p class="dashboard-exchange-text">{{ rental.leaseDate | date: "dd.MM.yyyy" }} - {{ rental.returnDate | date: "dd.MM.yyyy" }}<p>
  <div class="dashboard-exchange-status">
    <i class="fa-solid fa-x"></i><i class="fa-solid fa-check"></i>
  </div>
</div>

<div *ngIf="isModalOpen && modalRental != null" id="myModal" class="modal" (click)="onBackgroundClick($event)">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    <p>{{ modalRental.person.firstname }} {{ modalRental.person.surname }}</p>
  </div>
</div>
