<div id="container" *ngIf="badgeCount > 0">
  <div *ngFor="let equipment of this.equipments; let i = index">
    <hr>
    <div  id="item">
      <img src="{{ equipment.link }}" width="100vw">
      <h2 class="equipmentName">{{ equipment.name }}</h2>
      <p>{{getTime(i)}}</p>
      <app-amount-settings [maxAmount]="equipment.itemCount" [chosenAmount]="getCount(i)"></app-amount-settings>
      <i (click)="delete(equipment.id)" class="fa-solid fa-x fa-lg removeButton"></i>
    </div>
    <hr>
  </div>
</div>

