#container {
  width: 80%;
  height: 70vh;
  margin: auto;
  overflow: scroll;
  background-color: #fff;
}

#item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

